
:root{
    --main-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color:#ffffff;
    --accent-color: #2196F3;
    --bcg-color: #FFFFFF;
    --bcgsecond-color: #F5F4FA;
    --bcgthird: #2F303A; 
}
    
body{
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    }
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo:hover,
.logo:focus{
    color:var(--accent-color)
}
a {
    text-decoration: none;
}
img{
    display: block;
}
h1,h2,h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
 /*HEADER*/
 .container{
   display: flex;
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   }
 
 .main-header{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.navigation {
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    column-gap: 50px;
}
.logo{
    margin-right: 93px;
}

.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

.menu .current{
    color:var(--accent-color);
}

.email-phone {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
}

.phone{
    margin-right:50px;
}
.email-phone .contacts {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14; 
    letter-spacing: 0.02em;
}
.email-phone .contacts:hover,
.email-phone .contacts:focus {
    color: var(--accent-color);
}
    /* HERO */

.hero {
    text-align: center;
    background-color: var(--bcgthird);
    padding: 200px 450px 280px 452px;
}
.hero-text{
    margin-bottom: 30px ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--second-text-color)
}
.modal-button{
    padding: 10px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    min-width: 216px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87; 
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}
.modal-button:hover {
    background-color: var(--accent-color);
    color: var(--second-text-color);
}

/* FEATURES */
.titles{
padding-top: 94px;
padding-bottom: 94px;
display: flex;
justify-content: space-between;

}
.title{
    margin: bottom 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headlines-title);
}
.title-text{
    margin-right: 30px;
    color: var(--main-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* SKILLS */
.skills{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.images{
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

/* TEAM */
.team{
    background-color: var(--bcgsecond-color);
}
.team-list{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.team-label{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color)
}
.team.card{
    background-color: var(--bcg-color);
}
.image{
        margin-bottom: 10px;
}
.team-member{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headlines-title);
}
.team-profession{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19; 
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/* * FOOTER */
footer{
    background-color: var(--bcgthird);
}
.basement{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
footer .logo {
    display: block;
    padding-top: 60px;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.adresses{
    padding-bottom: 60px;
    margin-right: auto;
}
.post-address{
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
footer .post-address:hover,
footer .post-address:focus {
    color:#2196F3
}
footer .contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
footer .contacts:hover,
footer .contacts:focus {
    color:var(--accent-color);
}

/* PORTFOLIO */
.portfolio-page .filters{
    background-color: var(--bcgsecond-color);
}
.filters-item{
    display: flex;
    padding-top: 94px;
    column-gap: 8px;
    justify-content: center;
}
.filter-button{
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;
    border-color:transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus{
   color: var(--second-text-color); 
   background-color: var(--accent-color);
}
.filters-item .current{
    color: var(--second-text-color);
    background-color: var(--accent-color);
}
.works-list{
    padding-top: 30px;
    padding-bottom: 94px;
    gap: 30px;
    flex-wrap: wrap;
}
.work-description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.work-title{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.img{
    margin-bottom: 20px;
}


